<form method = "post" action = "/phonebook">
 <p>name <input type = "text" value = "first" name = "value[]"></p>
 <p>lastname<input type = "text" value = "last" name = "value[]"></p>
 <p>street<input type = "text" value = "street" name = "value[]"></p>
 <p>num<input type = "text" value = "num" name = "value[]"></p>
 <p>zip<input type = "text" value = "zip" name = "value[]"></p>
 <input type="submit">
</form>